.hello{
text-decoration: gray;
border: 2px solid black;
text-decoration: underline;
text-align: center;
background-image: url('assets/images/background/background-bottom-border-made-stationery-school-supplies-wooden-table-education-studying-back-to-concept-child-desk-146352800.jpg');
}

.butto99099:hover{
    background-color: #5fcf80;
    color: white;
    margin-top: 100px;
    background-image: url("assets/img/M_img.png");

}